@charset "utf-8";
/* CSS Document */
	menu a{
		text-decoration:none;
		}
	menu a:link, a:visited{
		background-color:red;
		padding:5px;
		color: white;;
		
		}
	menu a:hover {
		background-color:#06F;
		padding:10px;
		
		}
	menu a:active{
		background-color:green;
		color:#90F;
		}
		#up{
		width:100%
		}
	h1 {
		text-transform: uppercase;
		color:white;
		text-align:center;
		letter-spacing:5px;
		word-spacing:10px;
		font-size:50px;
		font-family:"MS Serif", "New York", serif;
		
		}
  
	#top{
		background-color:black;
		color:white;
		height:20px;
		padding:5px;
		font-weight:bold;
		}
	#benner{
		background-image:url(1.jpg);
		height:300px;
		padding:10px;
		}
	#benner h1{
		text-align:center;
		margin-top:100px;}
	#benner h3{
		text-align:center;
		margin-top:0px;
		color:white;
		}
	#header{
		padding:20px;
		}
	#f1{
		float:left;
		width:400px;
		padding:10px;
		}
	
	 #f2{
		float:left;
		width:400px;
		padding:10px;
		}
	#f2 div{
		padding:3px;
		font-family:"Courier New", Courier, monospace;
	   }
	#f3{
		float:left;
		width:400px;
		padding:10px;
		}
	#footer{
		clear:both;
		margin-top:30px;
		height:300px;
		background-color:#006;
		color:white;
	    }
	#fend{
		clear:both;
		text-align:center;
		
		}
	#f1 ul li a{
		text-decoration:none;
		color:white;
		
		
	    }
	#f1 ul li{
		list-style-type:none;
		border-bottom:1px solid #ccc;
		padding:8px;
		
	    }
	.fa{
		padding:20px;
		font-family:30px;
		width:50px;
		text-align:center;
		text-decoration:none;
		margin:5px 2px;
		
	   }
	.fa:hover{
		background-color:#f1f1f1;
		color:black !important;
		padding:16px 18;	
		}
	.fa-facebook{
		background-color:#3B5998;
		color:white;
		}
	.fa-twitter{
		background-color:#0CF;
		color:white;
		}
	.fa-google{
		background-color:#33F;
		color:white;
		}
	.fa-linkedin{
		background-color:#69C;
		color:white;
		}
	.fa-youtube{
		background-color:#F00;
		color:white;
		}
	.fa-instagram{
		background-color:#30F;
		color:white;
		}
	.fa-pinterest{
		background-color:#F0F;
		color:white;
		}
	.fa-snapchat-ghost{
		background-color:#9CC;
		color:white;
		}
	.fa-skype{
		background-color:#6CF;
		color:white;
		}
		
		figcaption{
		text-align:center;
		margin-top:5px;}
 #chield{
		border:1px solid black;
		border-radius:5px;
		padding:10px;
		margin-right:25px;
		margin-top:20px;
		width:600;
		float:left;
		margin-bottom:20px;
	   
      }
    #img{
		border:1px solid black;
		border-radius:5px;
		padding:5px;
		margin-top:20px;
		width:300;
		height:300;
		float:left
      }
	#sss{ 
		width:200;
		float:left;
		margin-right:20px;
		}
	#sss ul li a{ 
	   text-decoration:none;
	   color:tomato; 
	   
	}
	#sss ul li {
		padding:8px 16px;
		border-bottom:1px solid #ddd; 
	}	
	#sss ul{
		list-style-type:none;
		padding:0;
		border:1px solid #ddd; 

	}
	
	 p {
		text-indent:20px;
		letter-spacing:1px;
		line-height:1.2;
	   }

	
#other {
	clear:both;
	
}
#skill{
	
	float: left;
	width: 420px;
	border: 1px solid #ccc;
	margin-left: 20px;
	border-radius:5px;
	transition:width 2s;
   }
#skill:hover{ width:400px;
   }
#skill h3 {
	text-align:center;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
	color: #4CAF50;
}
#skill ul li{
	list-style-image:url(chec.png);
	padding: 5px;
		
}
#skill ul li a{
	text-decoration: none;
	color: tomato;
}
#hobby{
	
	float: left;
	width: 420px;
	border: 1px solid #ccc;
	margin-left: 20px;
	border-radius:5px;	
}
#hobby h3 {
	text-align:center;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
	color: #4CAF50;
}
#hobby ul li{
	list-style-image:url(chec.png);
	padding: 5px;
		
}
#hobby ul li a{
	text-decoration: none;
	color: tomato;
}
#movie{
	
	float: left;
	width: 420px;
	border: 1px solid #ccc;
	margin-left: 20px;
	border-radius:5px;
	margin-bottom:20px;	
}
#movie h3 {
	text-align:center;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
	color: #4CAF50;
}
#movie ul li{
	list-style-image:url(chec.png);
	padding: 5px;
		
}
#movie ul li a{
	text-decoration: none;
	color: tomato;
}
#skill-h3{
	text-align:center;
	clear:both;
	color:green;
	
	}
	
#imgall{
	clear:both;
	padding-top:20px;
	}
.img1{
	float: left;
	width: 400px;
	border: 1px solid #ccc;
	margin-left: 30px;
	border-radius:8px;
	margin-bottom:20px;
	box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);
	}

#img-text{
	padding:8px;
	color:white;
	background-color:#000;
	text-align:center;
	width:384px;
	font-size:18px;
	}
#work-tt{	
	text-align:center;
	color:green;
	clear:both;
	}
#work-tb{
	font-family:"MS Serif", "New York", serif;
	border-collapse:collapse;
    width:100%;
    }
#work-tb td, #work-tb th{
	border:qpx solid #ddd;
	padding:8px;
    }
#work-tb tr:nth-child(even){
	background-color:#f2f2f2;
    }
#work-tb tr:hover{
	background-color:#ddd;
}
#work-tb th{
	padding-top:12px;
	padding-bottom:12px;
	text-align:left;
	background-color:#4CAF50;
	color:white;
}

