@charset "utf-8";
/* CSS Document */
	#up {
				width: 100%;

	}
	#banner {
		background-color:#CCC;
		height: 140px;
		padding: 10px;
	}

	#banner h1 {
		text-transform: uppercase;
		color: #4CAF50;
		text-align:center;
		letter-spacing:5px;
		word-spacing:10px;
		font-size: 60px;
		font-family: Verdana, Geneva, sans-serif;
	}
	menu a:link,a:visited {
		text-decoration:none;
		background-color:#f44336;
		color: white;
		padding: 10px;	
	}
	menu a:hover {
		background-color: black;
		padding:12px;	
		
	}
	menu a:active {
		background-color: #090;
	}
	#footer {
		clear: both;
		margin-top: 10px;
		height: 300px;
		color: white;
		background-color: black;	
	}
	#footer1 {
		float: left;
		width: 300px;
		padding: 10px;	
	}
	#footer2 {
		float: left;	
		width: 300px;	
		padding: 10px;	
	}	
	#footer3 {
		float: left;
		width: 300px;	
		padding: 10px;	
	}
	#fln {
		clear: both;
		text-align:center;	
	}
	#top{
		height: 20px;
		background-color:black;
		color: white;
		padding: 5px;
		font-weight:bold;
			
	}